apiVersion: apps/v1
kind: Deployment
metadata:
  name: addon-filebrowser
  labels:
    app: addon-filebrowser
  namespace: homeassistant
  annotations:
    argocd.argoproj.io/sync-options: Replace=true
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: addon-filebrowser
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: addon-filebrowser
    spec:
      serviceAccountName: addon-filebrowser
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
      containers:
        - name: filebrowser
          image: filebrowser/filebrowser:v2.61.0
          imagePullPolicy: Always
          ports:
            - containerPort: 80
              name: tcp-80
              protocol: TCP
          resources:
            requests:
              cpu: 50m
              memory: 50Mi 
            limits:
              # cpu: 100m
              memory: 50Mi
          livenessProbe:
            httpGet:
              path: /
              port: tcp-80
            failureThreshold: 1
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: tcp-80
            failureThreshold: 30
            periodSeconds: 10
          volumeMounts:
            - mountPath: /config/settings.json
              subPath: settings.json
              name: addon-filebrowser-configmap
            - mountPath: /srv
              name: addon-filebrowser-srv
      volumes:
        - name: addon-filebrowser-configmap
          configMap:
            name: addon-filebrowser
        - name: addon-filebrowser-srv
          persistentVolumeClaim:
            claimName: addon-filebrowser
