powerFeedDefaultVoltage: 230

preferIPv4: true

postgresql:
  enabled: true
  image:
      repository: bitnamilegacy/postgresql
  auth:
    username: netbox
    database: netbox
    existingSecret: postgresql

persistence:
  enabled: true
  storageClass: longhorn
  subPath: ""
  accessMode: ReadWriteMany
  size: 1Gi
  existingClaim: ""
  annotations: {}

resources:
  requests:
    cpu: 500m
    memory: 1Gi
  limits:
    cpu: 750m
    memory: 2Gi

worker:
  enabled: false

valkey:
  enabled: true
  image:
    repository: bitnamilegacy/valkey
  architecture: standalone
  replica:
    replicaCount: 0
  primary:
    resources:
      requests:
        cpu: 200m
        memory: 250Mi
      limits:
        cpu: 200m
        memory: 150Mi 

ingress:
  enabled: true
  pathType: ImplementationSpecific
  className: traefik
  annotations:
    traefik.ingress.kubernetes.io/router.middlewares: traefik-redirect@kubernetescrd
  hosts:
    - host: netbox.gavriliu.com
      paths:
        - /

housekeeping:
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1